[submodule "external/graphs"]
	path = external/graphs
	url = https://github.com/mschimek/graphs.git
[submodule "external/KaDiS"]
	path = external/KaDiS
	url = https://github.com/MichaelAxtmann/KaDiS.git
[submodule "external/tlx"]
	path = external/tlx
	url = git@github.com:tlx/tlx.git
[submodule "external/ips4o"]
	path = external/ips4o
	url = https://github.com/ips4o/ips4o.git
